/**
 * Definition of colors, font and size 
 **/

$green: #90BA00;
$white: #fff;
$dark-grey: #272727;
$light-grey: #e4e3e3;

$font-daring: 'Open Sans', sans-serif;
$font-serif: 'PT Serif', serif;

$regular-size: 1.2rem;
$medium-size: 1.6rem;

/**
 * aditional reset
 * [h2 margins]
 */

h1, h2, h4, ul, li {
	font-weight:normal;
	margin:0;
	padding:0;
}

p {
	margin:0;
}

/**
 * Definition of structure elements
 */

html {
    font-family: Verdana, sans-serif;
    font-size: 62.5%;
    height: 100%;
}

body {
	color: $dark-grey;
}


/**
 * Definition of page elements
 */

.h1 {
	color:$green;
	font: $medium-size $font-serif;
	margin-bottom:$medium-size;
}

.header {
	background: $dark-grey;
	height:2rem;
	padding: 2rem;

	@media (min-width: 800px){
		height:4rem;
	}

	span {
		color:$white;
		font-size: 2rem;
		text-decoration: uppercase;
	}
	.by {
		color:$green;
		font-size: $regular-size;
		padding-left:1.2rem;
		
		@media (min-width: 800px) {
			display:block;
			padding-left: 0;
		}
	}
}

.presentation {
	color:$dark-grey;
	display:none;
	font: $medium-size $font-serif;
	padding: $regular-size $regular-size $regular-size 0;

	@media (min-width: 800px) {
		display:block;
		margin: 1.2rem 0;
	}
}

.main {
	height:100%;
	overflow:hidden;
	padding:0;
	@media (min-width: 800px) {
		margin:0 auto;
		padding: 0 3rem;
	}

	.list-documents  {
		padding:0;
		position:relative;
		
		.item-list {
			clear:right;
			overflow:hidden;
			list-style:none;
			padding:0;
			position:relative;

			@media (min-width: 800px) {
				border-right: 0.1rem solid $light-grey;
				float:left;
				margin: 0 1.8rem $regular-size 0;
				padding-right: 1.8rem;
				width:30%;
			}

			&:last-child {
				border-right: none;
				@media (min-width: 800px) {
					margin-right: 0;
					padding-right: 0;
				}
			}

			.article {
				border-bottom: 0.1rem solid $light-grey;
				display:table;
				padding: 0.6rem 0;
				@media (min-width: 800px) {
					border-bottom: none;
					padding: 0 2.4rem 0 0;
					width:100%
				}
			}

			.figure {
				display:table-cell;
				float:left;
				margin: 0;

				@media (min-width: 800px) {
					float:none;
				}
			}

			.figcaption {
				display:table-cell;	
				padding:0 $regular-size;
				vertical-align:top;
				width:100%;
				p {
					font:$regular-size $font-daring;
					margin-top:0.6rem;

					@media (min-width: 800px){
						margin-top: 1.2rem;
					}
				}

				@media (min-width: 800px) {
					display:table-row;
					padding-top: $regular-size;
					h1 {
						margin-bottom:0;
						padding-top:$regular-size;
					}
					
				}
			}
		}
	}
	
}

/**
 * Definition of useful classes for Images
 */

.crop-box-image {
	overflow: hidden;
	position: relative;
	height: 12rem;	
	width: 12rem;

	@media (min-width: 800px) {
		height: 25rem;
		width: 100%;
	}

	img {
		bottom: -120%;
		height: auto;
		left: -120%;
		margin: auto; 
		position: absolute;
		right: -120%;
		top: -120% ;
		width: auto;
	}
}

.container-arrow {
	@media (min-width: 800px) {
		display:none;
		margin-top:-20px;
		position:absolute;
		right:0.5rem;
		top:50%;
		.arrow-right {
			border-bottom: 20px solid transparent;
			border-left: 20px solid $dark-grey;
			border-top: 20px solid transparent;
			height: 0; 
			width: 0; 
		}
	}
}