
<script type="text/template" id="item">

	<article class="article">
		<figure class="figure crop-box-image">
			<img src="<%= item.cover.url %>" title="" class="image"/>
		</figure>
		
		<figcaption class="figcaption">
			<h1 class="h1"><span><%= item.title %></span></h1>	
			<p><%= item.summary %></p>
		</figcaption>
	</article>

</script>
